/*
Colors used:
Primary Color (Grey): #759DA1;
Secondary Color (background): #ffe4c4;
Secondary Color (White): #FFFFFF;
Secondary Color (Orange): ##ff7f50;
Secondary Color (Black): #000000;
*/


header {
  text-align: unset;
  background-color: #ffe4c4;
  text-align: center;
  padding: 10px 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #323232;
}

footer {
  display: center;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 500;
}

h2 {
  font-size: 2.25em;
  font-weight: 500;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 100;
}

img {
  width: 100%;
}

a {
  color: #ff7f50;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: #ff7f50;
}

a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}
a:active { /* selected link */
  color: #994c30;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ff7f50;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition-duration: 0.2s;
  transition: 0.2s opacity;
  border-color: #ff7f50;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;

}
.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}
.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}



/* Layout styling */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.logo {
  max-width: 100px;
}

.presentation-title {
  font-size-adjust: 28px;
}

.majuscules {
  text-transform: uppercase; 
  text-align: center;
  padding-top: 20px;
  margin: none;
}



/* ===== Footer ===== */

.copyrigh {
  font-size: 8px;
}

.footer {
  text-align: center;
  background-color: #DAE5E7;
  margin: none;
  border-color: #DAE5E7;
  border: 10px;
  font-size: 14px;
}

.fa-arrow-down {
  padding-bottom: 23px;
}

.copyright{
  font-weight: bold;
  font-size: small;
  margin-bottom: 0%;
  border: 20px;
  outline-color: #779FA6;
}

.tel {
  font-weight: bold;
}

.social-icons{
  padding: 0%;
}

/* ===== Footer ===== */




/* ===== About me ===== */

.few-lines {
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  margin: none;
  font: 14px;
}

.about-me {
  padding-left: 10px;
  font-size: 14px;
}

/* ===== About me ===== */



/* ===== Projects ===== */

.project-header {
  font-size: 14px;
  text-align: center;
}

.project-title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  color: #ff7f50;
  font-weight: bold;
}

.project-category {
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-tag {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.p1-context {
  text-align: center;
  margin-right: 20px;  
  margin-left: 20px;
}

/* ===== Projects ===== */

nav > ul > li {
  list-style: none;
}

nav > ul > li:not(:last-child) {
  display: none;
}

.responsive nav > ul > li:not(:last-child) {
  display: block;
}

nav > ul > li:last-child {
  position: absolute;
  top: 5px;
  right: 5px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul > li:last-child {
    display: none;
  } 

  nav > ul > li:not(:last-child) {
    display: inline-block;
  }
}



nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

#hero {
  background-color: #ffe4c4;
  padding: 2px 0;
  display: inline-block;
  width: 100%;
  text-align: center
}

#hero span {
  display: block;
}



/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}





/* ===== CSS ANIMATION ===== */

.col-md-6 {
  width: 50%;
}

[class*="col-"] {
  float: left;
}
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* ===== CSS ANIMATION ===== */