/* General:
- Use em values for headers */


* {
  box-sizing: border-box; /* actual width of the container mentioned above would change to 100px (even including the 20px padding and 4px borders) as opposed to 124px. */
}

header {
  background-color:#ffe4c4;
  text-align: center;
  box-shadow:  0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  position:fixed;
  margin: auto;
  width: 100%
}

selector {
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
}


body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: rgba(0,0,0);
}

.majuscules {
  text-transform: uppercase;
}

h1, h2, h3, h4 {
  line-height: 1.4;

}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;

}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}


p {
  font-size: 1.35em;
  font-weight: 400;
  color: rgb(127, 140, 141);
}

img {
  width: 100%;
}




.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #FA8072;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
  display:inline-block;
  margin:  40px;
}

.background-text {
color :rgb(255, 160, 122)
}

.container {
  max-width: 1200px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.logo {
  max-width: 250px;
}

main {
  padding-top: 133px;
}



/* Mélodie Miribel text-transform: capitalize; */
/* Melodie M text-transform: capitalize; */

 
/*
Colors used:
Primary Color (Black): #000000; <!-- rgb(0, 0, 0)--> 
Secondary Color (Grey): #7F8C8D 	<!-- rgb(127, 140, 141 ) --> 
Tertiary color (orange): #FA8072	<!--rgb(250, 128, 114)--> 
Light tertiary color (light orange): #FFA07A <!-- rgb(255, 160, 122) --> 
*/





/* Layout styling */

.container {
  padding: 0 15px;
}



#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }


#hero h1 {
  text-align: center; /* Centers text */
  margin: 0;
  padding: 0.67em 0;
}

#hero {
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}


nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}


ul {
  list-style-type: none;
  padding: 0;
}

ul > li {
  display: inline-block;
}

ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}


footer {
  text-align: center;
  /* position:fixed;  has been removed bcse otherwise, footer is delated? */
  margin: auto;
  display: inline-block;
  width: 100%
} 

/* = Cours 1.8 ======================================================================================================== */








/* ============================== Breakpoint pour ecrans 640px et + (to 1024px ici) = "Ne sera appliqué que..."
- @media only screen and (min-width: 640px) { } Medium devices (640px and larger)
- Unset allows to resets the property to either its initial (original) value or to the inherited value (need to be removed for medium size screenslogo and navigation are no longer centered but, instead, left-aligned.
- <nav> element was with a width of 100%. Reset it to auto will no longer takes it up to the full width of the screen but, still as wide as its content and aligned with the logo. 
- assign it the float: right; property, as this will ensure it floats to the right of the logo . 
- As we are on new size screens, the little white space between menu and hero is back: change the value of the top padding to 99px
- Font sizes need to switch from 16px to 18px for larger screen size. No modif on titles if em values are used otherwise ADJUST THEM
- heading in your hero section: both the heading and paragraph have been centered. Add text-align: center; to #hero + Have <span> tag in your <h1> be on the next line (so that the “I’m a…” line starts a new line). To do this, change the display of the <span> tag in your hero section from inline (the default) to block. (refer to #hero span )


= */


@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 99px 0 13px;
    font-size: 18px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
}

#hero span {
  display: block;
}


/* = Unset allows to resets the property to either its initial (original) value or to the inherited value (need to be removed for medium size screens 
logo and navigation are no longer centered but, instead, left-aligned.= */













/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}



/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
